<div class="about-page">
    <div ng-include="'template/carousel.html'"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row about_us">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 about_katlyn">
                    <div class="about_img">
                        <h3 class="btn-link" data-toggle="modal" data-target="#aboutKatlynModal">About Katlyn</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 about_haille">
                    <div class="about_img">
                        <h3 class="btn-link" data-toggle="modal" data-target="#myModal">About Haille</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <!--<button class="btn btn-primary btn-lg">
    Launch demo modal
    </button>-->
    <!-- Modal -->
    <div class="modal fade" id="aboutKatlynModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- <div class="modal-header"> -->
                <!--                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <!-- </div> -->
                <div class="modal-body">
                    <h4 class="about_katlyn" id="myModalLabel">
                    <div class="about_img about_img_sm"></div>
                    <h2 class="about_name">Katlyn McConnell</h2>
                    </h4>
                    <div class="about_story pre-scrollable">
                        <p>It's freshman year in high school and my mom told me we would be going on a mission trip to Nicaragua. I couldn't be anymore annoyed. Other than getting tan, I thought it would be a waste of time and money. Well, we went on that trip. Now, I can't seem to stay away.</p>
                        <p>I went back to Nicaragua that summer, the next, and every one since. I had been back 11 times in 9 years. We worked with a Christian organization here in the states called Young Life. "You were made for this" as their slogan goes, was a perfect fit for me. So, I followed what I was being called to do.</p>
                        <p>I soon attended college studying International Studies and Spanish to prepare myself for wherever life might take me. After graduation I knew I didn't want to go to right to work. Instead, I went abroad. I volunteered with a non-profit in a small, rural town outside of La Ceiba, Honduras. I spent a year there. A year that changed me. I made friends, but not just friends like the ones you might say hi to in the grocery store and then not even think about until you run into them again a few weeks later. No. I mean the type of friends who are more like family. Those who you would die for. Its hard to find true genuine relationships like the ones I found in Honduras. But I did. Now, I live my life according to those relationships because it's through them I learned more about myself and life than I ever have before.</p>
                        <p>While I was there I was able to do a variety of community projects and take part in a town that had become my new home, El Porvenir. Building beds, teaching english, holding vacation activities, creating family programs, teaching in a Kinder, donating chickens and coups, building playgrounds, etc...all helping to better the future of those suffering. Which is exactly what El Porvenir means "The Future".</p>
                        <p>The people who I met during my journey showed me just what true love is. They showed me what was truly important in life. When they had nothing, they gave me everything. To be given lunch or invited over for dinner, when they can barely feed their own family, is the best gift of thanks I have ever received. This is what is real.</p>
                        <p>The day I left Honduras, I left a part of me there. But I also realized I left something even deeper. I left hope. Not that hope was gone, but instead thriving. The bonds and long lasting relationships gave reassurance to people who once had none. Reassurance that they have a purpose in this life. Reassurance that there is hope.</p>
                        <p>So I came back. Ever since I left in September 2011, Finding Hope was in the making. In February 2013 I bought my one-way ticket back to Honduras and began planting seeds for Finding Hope's future. I wasn't sure what God had planned but blessings were poured out immediately. Soon, the community and people from all over the world began to jump on board!</p>
                        <p>I am so thankful to my church, family and friends for the help I have received from them to make that first year in Honduras possible. They were the backbone of my time there and the projects that we were able to complete. For prayers, financial support and encouragement, I will be forever grateful. </p>
                        <p>My prayer is that every single person in this town knows the name of Jesus and lives to praise Him alone. That the hope left in the hearts of those I came to know is renewed and restored each and every day.</p>
                        <p style="text-indent:1em">- Katlyn McConnell</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>